<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аналитика</title>
    <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/analyticstyle.css">
</head>
<body>
        <header th:insert="blocks/header2 :: header2"></header>

        <div class="currency-mobile">
            <div class="currency">
                <ul>
                    <li><p class="kurs">USD/KZT: </p>
                        <p class="dollar">471.3</p>
                    </li>
                    <li><p class="kurs">EUR/KZT: </p>
                        <p class="euro">520.13</p>
                    </li>
                    <li><p class="kurs">RUB/KZT: </p>                     
                        <p class="rubel">5.3</p>
                    </li>
                </ul>
            </div>
        </div>

        <section class="analytics">
            <div class="container">
                <h6 class="analytics-section-title">MAIN / NEWS</h6>
                <h4 class="analytics-header">NEWS</h4>
                
                <div class="row">

                    <div class="col-sm-6">
                        <div class="analytics-main-article">
                            <a class="analytics-item" href="">
                                <div class="analytics-img"><img src="/img/image 6.png" alt=""></div>
                                <div class="image-cover"></div>
                                <div class="analytics-title"><h3>Delegation of Heriot-Watt University visited SDU</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="analytics-article">
                            <a href="">
                                <div class="analytics-img"><img src="/img/image 15.png" alt=""></div>
                                <div class="analytics-text">
                                    <div class="analytics-title"><h4>The SDU Winter School for Teachers has ended</h4></div>
                                    <div class="analytics-description"><p>The SDU Winter School for school teachers has recently ended. The 72-hour course was dedicated to the topic “Renewed content of education”, it was held online from February to March 2022.</p></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="analytics-article">
                            <a href="">
                                <div class="analytics-img"><img src="/img/image 16.png" alt=""></div>
                                <div class="analytics-text">
                                    <div class="analytics-title"><h4>Academic mobility announcement</h4></div>
                                    <div class="analytics-description"><p>The acceptance of documents under the academic mobility program at the expense of funding from the Ministry of Education and Science of the Republic of Kazakhstan for the autumn semester of the 2022-2023 academic year is open.</p></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="analytics-article">
                            <a href="">
                                <div class="analytics-img"><img src="/img/image 7.png" alt=""></div>
                                <div class="analytics-text">
                                    <div class="analytics-title"><h4>SDU scientist received a certificate of honor from Askhat Aimagambetov</h4></div>
                                    <div class="analytics-description"><p>On the eve of the Day of Science, Associate Professor of SDU Madina Alimanova received a Certificate of Honor from the Minister of Education and Science of the Republic of Kazakhstan Askhat Aimagambetov.
                                        Madina Ungarovna - PhD, science coordinator at the Faculty of Engineering and Natural Sciences, founder of the 3D laboratory.</p></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="analytics-article">
                            <a href="">
                                <div class="analytics-img"><img src="/img/image 9.png" alt=""></div>
                                <div class="analytics-text">
                                    <div class="analytics-title"><h4>SDU in World Ranking "THE"</h4></div>
                                    <div class="analytics-description"><p>For the first time, SDU was included in the world ranking Times Higher Education Impact Ranking.

                                        We are pleased to announce that SDU has been included in the Global Times Higher Education Impact Ranking along with 10 Kazakh universities and 1396 global universities.</p></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="analytics-article">
                            <a href="">
                                <div class="analytics-img"><img src="/img/image 11.png" alt=""></div>
                                <div class="analytics-text">
                                    <div class="analytics-title"><h4>SDU students won the Olympiad Cup</h4></div>
                                    <div class="analytics-description"><p>Suleyman Demirel University students took first place in the XIV Republican Subject Olympiad in the direction of "Journalism" and became the owners of the challenge cup. Next year the competition will be held in SDU. Today Rector of the University Davronjon Gaipov congratulated the winners of the competition.</p></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="analytics-article">
                            <a href="">
                                <div class="analytics-img"><img src="/img/image 12.png" alt=""></div>
                                <div class="analytics-text">
                                    <div class="analytics-title"><h4>Meeting of the Board of Trustees of the educational program "Journalism"</h4></div>
                                    <div class="analytics-description"><p>A meeting of the Board of Trustees of the educational program "Journalism" of the University named after Suleyman Demirel was held. The meeting, organized by the Faculty of Law and Social Sciences, was attended by representatives of the country's leading media.

                                        The participants of the meeting got acquainted with the content of the current educational program and spoke about the necessary changes in the educational process. They also discussed such important issues as training for the modern market.</p></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="analytics-article">
                            <a href="">
                                <div class="analytics-img"><img src="/img/image 13.png" alt=""></div>
                                <div class="analytics-text">
                                    <div class="analytics-title"><h4>Meeting of the Advisory Board</h4></div>
                                    <div class="analytics-description"><p>A meeting of the Advisory Council on the educational program "Information Systems" was held in SDU.

                                        The work of the council is aimed at discussing with teachers the content of educational programs at the university, the skills needed by graduates that are in demand in the market, internships and employment.</p></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="analytics-article">
                            <a href="">
                                <div class="analytics-img"><img src="/img/image 14.png" alt=""></div>
                                <div class="analytics-text">
                                    <div class="analytics-title"><h4>VOXPOPULI.KZ in SDU</h4></div>
                                    <div class="analytics-description"><p>Today the results of the photo contest among students of the educational program "Journalism" of the Faculty of Law and Social Sciences of the SDU were summed up.</p></div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="show-more">
                    <button class="btn-more">Show more</button>
                </div>
            </div>
            
        </section>

        <footer th:insert="blocks/footer2 :: footer2"></footer>

        <script src="/js/main.js"></script>
</body>
</html>