<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoFo.SDU</title>
    <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/interview.css">
</head>
<body>
        <header th:insert="blocks/header2 :: header2"></header>

        <div class="currency-mobile">
            <div class="currency">
                <ul>
                    <li><p class="kurs">USD/KZT: </p>
                        <p class="dollar">471.3</p>
                    </li>
                    <li><p class="kurs">EUR/KZT: </p>
                        <p class="euro">520.13</p>
                    </li>
                    <li><p class="kurs">RUB/KZT: </p>                     
                        <p class="rubel">5.3</p>
                    </li>
                </ul>
            </div>
        </div>

        <section class="interview-list">
            <div class="container">
                <h4 class="interview-text" >ИНТЕРВЬЮ</h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row row-margin">
                            <div class="col-sm-3">
                                <div class="interview-article">
                                    <a class="article-item" href="">
                                        <div class="article-image"><img src="/img/image 2.png" alt=""></div>
                                        <div class="image-cover"></div>
                                        <div class="article-title"><h3>Токаев выразил соболезнования семье Юрия Померанцева aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="interview-article">
                                    <a class="article-item" href="">
                                        <div class="article-image"><img src="/img/image 3.png" alt=""></div>
                                        <div class="image-cover"></div>
                                        <div class="article-title"><h3>Токаев выразил соболезнования семье Юрия Померанцева</h3>
                                        
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="interview-article">
                                    <a class="article-item" href="">
                                        <div class="article-image"><img src="/img/image 4.png" alt=""></div>
                                        <div class="image-cover"></div>
                                        <div class="article-title"><h3>Токаев выразил соболезнования семье Юрия Померанцева</h3>
                                            
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="interview-article">
                                    <a class="article-item" href="">
                                        <div class="article-image"><img src="/img/image 4.png" alt=""></div>
                                        <div class="image-cover"></div>
                                        <div class="article-title"><h3>Токаев выразил соболезнования семье Юрия Померанцева</h3>
                                           
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row row-margin">
                            <div class="col-sm-3">
                                <div class="interview-article">
                                    <a class="article-item" href="">
                                        <div class="article-image"><img src="/img/image 2.png" alt=""></div>
                                        <div class="image-cover"></div>
                                        <div class="article-title"><h3>Токаев выразил соболезнования семье Юрия Померанцева aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="interview-article">
                                    <a class="article-item" href="">
                                        <div class="article-image"><img src="/img/image 3.png" alt=""></div>
                                        <div class="image-cover"></div>
                                        <div class="article-title"><h3>Токаев выразил соболезнования семье Юрия Померанцева</h3>
                                        
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="interview-article">
                                    <a class="article-item" href="">
                                        <div class="article-image"><img src="/img/image 4.png" alt=""></div>
                                        <div class="image-cover"></div>
                                        <div class="article-title"><h3>Токаев выразил соболезнования семье Юрия Померанцева</h3>
                                            
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="interview-article">
                                    <a class="article-item" href="">
                                        <div class="article-image"><img src="/img/image 4.png" alt=""></div>
                                        <div class="image-cover"></div>
                                        <div class="article-title"><h3>Токаев выразил соболезнования семье Юрия Померанцева</h3>
                                           
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row row-margin">
                            <div class="col-sm-3">
                                <div class="interview-article">
                                    <a class="article-item" href="">
                                        <div class="article-image"><img src="/img/image 2.png" alt=""></div>
                                        <div class="image-cover"></div>
                                        <div class="article-title"><h3>Токаев выразил соболезнования семье Юрия Померанцева aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="interview-article">
                                    <a class="article-item" href="">
                                        <div class="article-image"><img src="/img/image 3.png" alt=""></div>
                                        <div class="image-cover"></div>
                                        <div class="article-title"><h3>Токаев выразил соболезнования семье Юрия Померанцева</h3>
                                        
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="interview-article">
                                    <a class="article-item" href="">
                                        <div class="article-image"><img src="/img/image 4.png" alt=""></div>
                                        <div class="image-cover"></div>
                                        <div class="article-title"><h3>Токаев выразил соболезнования семье Юрия Померанцева</h3>
                                            
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="interview-article">
                                    <a class="article-item" href="">
                                        <div class="article-image"><img src="/img/image 4.png" alt=""></div>
                                        <div class="image-cover"></div>
                                        <div class="article-title"><h3>Токаев выразил соболезнования семье Юрия Померанцева</h3>
                                           
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row row-margin">
                            <div class="col-sm-3">
                                <div class="interview-article">
                                    <a class="article-item" href="">
                                        <div class="article-image"><img src="/img/image 2.png" alt=""></div>
                                        <div class="image-cover"></div>
                                        <div class="article-title"><h3>Токаев выразил соболезнования семье Юрия Померанцева aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="interview-article">
                                    <a class="article-item" href="">
                                        <div class="article-image"><img src="/img/image 3.png" alt=""></div>
                                        <div class="image-cover"></div>
                                        <div class="article-title"><h3>Токаев выразил соболезнования семье Юрия Померанцева</h3>
                                        
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="interview-article">
                                    <a class="article-item" href="">
                                        <div class="article-image"><img src="/img/image 4.png" alt=""></div>
                                        <div class="image-cover"></div>
                                        <div class="article-title"><h3>Токаев выразил соболезнования семье Юрия Померанцева</h3>
                                            
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="interview-article">
                                    <a class="article-item" href="">
                                        <div class="article-image"><img src="/img/image 4.png" alt=""></div>
                                        <div class="image-cover"></div>
                                        <div class="article-title"><h3>Токаев выразил соболезнования семье Юрия Померанцева</h3>
                                           
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>

                <div class="show-more">
                    <button class="btn-more">Показать еще</button>
                </div>
            </div>
        </section>

        <footer th:insert="blocks/footer2 :: footer2"></footer>

        <script src="/js/main.js"></script>
</body>
</html>