<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 mt-3 border-bottom px-5 c">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">LoFo</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Main</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Records</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/add">Add record</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/about">About Us</a>
            <a class="me-3 py-2 text-white text-decoration-none bg-success px-2 rounded" href="/login">Sign In</a>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </nav>
    </div>
</div>